In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("nypd-shooting-incidents-06-21.csv") #https://data.cityofnewyork.us/Public-Safety/NYPD-Shooting-Incident-Data-Historic-/833y-fsy8
data2 = pd.read_csv("nypd-shooting-incidents-22-23.csv") #https://data.cityofnewyork.us/Public-Safety/NYPD-Shooting-Incident-Data-Year-To-Date-/5ucz-vwe8

print(data1.columns, data2.columns)
print(data1.shape, data2.shape)

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat'],
      dtype='object') Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'LOC_OF_OCCUR_DESC',
       'PRECINCT', 'JURISDICTION_CODE', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
       'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
       'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')
(25596, 19) (1716, 21)

In [3]:
# Drop columns 
data2 = data2.drop(columns=['LOC_CLASSFCTN_DESC', 'LOC_OF_OCCUR_DESC'])
data2.rename(columns = {'New Georeferenced Column':'Lon_Lat'}, inplace = True)
print(data1.columns, data2.columns)
print(data1.shape, data2.shape)

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat'],
      dtype='object') Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat'],
      dtype='object')
(25596, 19) (1716, 19)

In [4]:
data = pd.concat([data1, data2], ignore_index=True)
print(data.columns)
print(data.shape)
data.head()

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat'],
      dtype='object')
(27312, 19)

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236168668,11/11/2021,15:04:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996313.0,187499.0,40.681318,-73.956509,POINT (-73.95650899099996 40.68131820000008)
1,231008085,07/16/2021,22:05:00,BROOKLYN,72,0.0,NaN,False,45-64,M,ASIAN / PACIFIC ISLANDER,25-44,M,ASIAN / PACIFIC ISLANDER,981845.0,171118.0,40.636364,-74.008667,POINT (-74.00866668999998 40.63636384100005)
2,230717903,07/11/2021,01:09:00,BROOKLYN,79,0.0,NaN,False,<18,M,BLACK,25-44,M,BLACK,996546.0,187436.0,40.681145,-73.955669,POINT (-73.95566903799994 40.68114495900005)
3,237712309,12/11/2021,13:42:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1001139.0,192775.0,40.695792,-73.939096,POINT (-73.939095905 40.69579171600003)
4,224465521,02/16/2021,20:00:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1050710.0,184826.0,40.673740,-73.760411,POINT (-73.76041066999993 40.67374017600008)

In [5]:
#Check year counts
data.OCCUR_DATE = pd.to_datetime(data.OCCUR_DATE)
data["YEAR"] = data.OCCUR_DATE.dt.year.values
for y in range(2006, 2024):
    print(y, len(data[data.YEAR == y]))

2006 2055
2007 1887
2008 1959
2009 1828
2010 1912
2011 1939
2012 1717
2013 1339
2014 1464
2015 1434
2016 1208
2017 970
2018 958
2019 967
2020 1948
2021 2011
2022 1716
2023 0

In [6]:
# Check datatypes
data = data.convert_dtypes()
data.OCCUR_TIME = pd.to_datetime(data.OCCUR_TIME)
print(data.info())
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27312 entries, 0 to 27311
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             27312 non-null  Int64
 1   OCCUR_DATE               27312 non-null  datetime64[ns]
 2   OCCUR_TIME               27312 non-null  datetime64[ns]
 3   BORO                     27312 non-null  string
 4   PRECINCT                 27312 non-null  Int64
 5   JURISDICTION_CODE        27310 non-null  Int64
 6   LOCATION_DESC            12335 non-null  string
 7   STATISTICAL_MURDER_FLAG  27312 non-null  object
 8   PERP_AGE_GROUP           17968 non-null  string
 9   PERP_SEX                 18002 non-null  string
 10  PERP_RACE                18002 non-null  string
 11  VIC_AGE_GROUP            27312 non-null  string
 12  VIC_SEX                  27312 non-null  string
 13  VIC_RACE                 27312 non-null  string
 14  X_COORD_CD               27312 non-null  Float64
 15  Y_COORD_CD               27312 non-null  Float64
 16  Latitude                 27302 non-null  Float64
 17  Longitude                27302 non-null  Float64
 18  Lon_Lat                  27302 non-null  string
 19  YEAR                     27312 non-null  Int64
dtypes: Float64(4), Int64(4), datetime64[ns](2), object(1), string(9)
memory usage: 4.4+ MB
None

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,YEAR
0,236168668,2021-11-11,2023-04-27 15:04:00,BROOKLYN,79,0,<NA>,False,<NA>,<NA>,<NA>,18-24,M,BLACK,996313.0,187499.0,40.681318,-73.956509,POINT (-73.95650899099996 40.68131820000008),2021
1,231008085,2021-07-16,2023-04-27 22:05:00,BROOKLYN,72,0,<NA>,False,45-64,M,ASIAN / PACIFIC ISLANDER,25-44,M,ASIAN / PACIFIC ISLANDER,981845.0,171118.0,40.636364,-74.008667,POINT (-74.00866668999998 40.63636384100005),2021
2,230717903,2021-07-11,2023-04-27 01:09:00,BROOKLYN,79,0,<NA>,False,<18,M,BLACK,25-44,M,BLACK,996546.0,187436.0,40.681145,-73.955669,POINT (-73.95566903799994 40.68114495900005),2021
3,237712309,2021-12-11,2023-04-27 13:42:00,BROOKLYN,81,0,<NA>,False,<NA>,<NA>,<NA>,25-44,M,BLACK,1001139.0,192775.0,40.695792,-73.939096,POINT (-73.939095905 40.69579171600003),2021
4,224465521,2021-02-16,2023-04-27 20:00:00,QUEENS,113,0,<NA>,False,<NA>,<NA>,<NA>,25-44,M,BLACK,1050710.0,184826.0,40.67374,-73.760411,POINT (-73.76041066999993 40.67374017600008),2021

In [7]:
# Dropping OCCUR_TIME - time data was uploaded, not time of incident
data = data.drop(columns=['OCCUR_TIME'])
data.head()

,INCIDENT_KEY,OCCUR_DATE,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,YEAR
0,236168668,2021-11-11,BROOKLYN,79,0,<NA>,False,<NA>,<NA>,<NA>,18-24,M,BLACK,996313.0,187499.0,40.681318,-73.956509,POINT (-73.95650899099996 40.68131820000008),2021
1,231008085,2021-07-16,BROOKLYN,72,0,<NA>,False,45-64,M,ASIAN / PACIFIC ISLANDER,25-44,M,ASIAN / PACIFIC ISLANDER,981845.0,171118.0,40.636364,-74.008667,POINT (-74.00866668999998 40.63636384100005),2021
2,230717903,2021-07-11,BROOKLYN,79,0,<NA>,False,<18,M,BLACK,25-44,M,BLACK,996546.0,187436.0,40.681145,-73.955669,POINT (-73.95566903799994 40.68114495900005),2021
3,237712309,2021-12-11,BROOKLYN,81,0,<NA>,False,<NA>,<NA>,<NA>,25-44,M,BLACK,1001139.0,192775.0,40.695792,-73.939096,POINT (-73.939095905 40.69579171600003),2021
4,224465521,2021-02-16,QUEENS,113,0,<NA>,False,<NA>,<NA>,<NA>,25-44,M,BLACK,1050710.0,184826.0,40.67374,-73.760411,POINT (-73.76041066999993 40.67374017600008),2021

In [8]:
data.to_csv("gun-violence-nyc-06-22.csv", index=False)